name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6

      # https://github.com/oven-sh/setup-bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      # run bun test
      - run: bun install
      - run: bun test
